body {
	background: url("http://i.imgur.com/yG6YDdr.jpg") no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
}

#container {
	width: 800px;
	height: 520px;
	margin: auto;
	margin-top: 100px;
	background-color: rgba(25, 25, 25, 0.8);
	text-align: center;
}

.mode {
	width: 30%;
	height: 400px;
	margin: 1%;
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: rgba(255, 255, 255, 0.7);
	display:inline-block;
	overflow-y: auto;
}
#selected {
	background-color: white;
}

#infoBlock {
	background-color: rgba(255, 255, 255, 0.8);
	padding-left: 30px;
	height: 385px;
	margin: 0;
	margin-top: 25px;
	width: 80%;
}

#infoBlock p {
	text-align: left;
}

button {
	padding: 15px 32px;
	border: none;
	text-decoration: none;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.8);	
	color: black;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

button:hover {
	background-color: #4CAF50;
	color: white;
}

button:hover:disabled {
	background-color: rgba(30, 30, 30, 0.8);	
	color: black;
}

#back {
	margin: 25px;
	float: right;
	bottom: 0;
}

#about {
	position: absolute;
	color: black;
	text-decoration: none;
	margin: 10px;
	right: 0;
	bottom: 0;
}