#omokBoard {
	width: 600px;
	height: 600px;
	table-layout: fixed;
	border-collapse: collapse;
	position: relative;
	float: left;
}
#omokBoard th {
	width: 38px;
	height: 38px;
	background-color: rgba(25, 25, 25, 0.8);
	color: white;
	font-weight: normal;
}
#omokBoard td {
	background-color: rgba(230, 230, 230, 0.4);
}
#omokGrid {
	width: 561px;
	height: 561px;
	border-collapse: collapse;
	position: absolute;
	top: 66px;
	left: 67.5px;
}
#omokGrid td {
	width: 37px;
	height: 37px;
	border: 1px black solid;
}
#infoWrapper {
	background-color: rgba(230, 230, 230, 0.9);
	width: 680px;
	float: left;
	text-align: center;
}
#players {
	height: 40px;
	margin-bottom: 0;
	padding: 0;
}
button {
	width: 96px;
	padding: 3px;
	font-size: 13px;
	background-color: rgba(30, 30, 30, 0.8);	
	color: white;
}
#readyStart {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}
#leave {
	margin-left: 100%;
	width: 40px;
	float: right;
}
#leave:hover {
	background-color: #EE204D;
}
#messages {
	height: 400px;
	text-align: left;
	overflow-y: scroll;
	padding-left: 10px;
	margin: 0;
}
.systemMessage {
	color: #00356B;
}
#readyMessage {
	color: #FF3366;
}
#messageInput {
	width: 580px;
}